@charset "UTF-8";

.row{
	--bs-gutter-x: 0px !important;
}

.grid {
	display: grid; 
	grid-template-columns: repeat(3, 1fr); 
	gap: 20px; 
}

.book {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}